.bg_pattern {
  background-color: transparent;
  opacity: 0.4;
  background-image: radial-gradient(
    rgba(68, 76, 247, 0.5) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.policyLink {
  height: 20px;
  font-size: 10px;
}

.privacy {
  font-size: 14px;
  max-width: 960px;
  height: 800px;
  max-height: 100%;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.privacy p {
  margin-bottom: 20px;
}

.privacy > * {
  margin-left: 20px;
}
